.categorias__titulo {
    font-weight: 500;
    font-size: 2em;
    text-align: center;
    padding-top: 1.5em;
    color: #212529;
}

.cards {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    align-items: center;
}

.cards-links {
    padding: 0 1em 0;
}